{% extends 'layout.html' %}

{% block title %}Run{% endblock %}

{% block content %}
<div class="container">
  <div class="row" style="margin-top: 40px;">
    <div class="col">
      <h2> Ejecutar </h2>
      <p><strong>Step 1:</strong>Paso 2: Selecciones Los Equipos a aplicar el comando</p>
      <hr/>
    </div>
  </div>
     <div class="row" style="margin-bottom: 40px;">
        <div class="col">
            <form id="demoform">
         <select multiple="multiple" size="10" name="listbox1" title="listbox1">
             {% for dev in devices %}
                   <option value="payee1">{{ dev[2] }} - {{ dev[1] }} </option>
             {% endfor %}  
        </select>
         <br>     
        </div>
     </div>
    </div>
  </div>
</div>
{% endblock %}