{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}


<h2>Agregar Usuario</h2>

<form action="/user" method="post" autocomplete="off" enctype="multipart/form-data">
    <br>
    <label for="username">
        <i class="fas fa-user"></i>
    </label>
    <input type="text" name="txtusername" placeholder="Username" id="txtusername" required>
    <label for="password">
        <i class="fas fa-lock"></i>
    </label>
    <input type="password" name="txtpassword" placeholder="Password" id="txtpassword" required>
    <label for="email">
        <i class="fas fa-envelope"></i>
    </label>
    <input type="email" name="txtemail" placeholder="Email" id="txtemail" required>
    <div class="msg">{{ msg }}</div>
    <br>
    <input type="submit" value="Agregar">
</form>
{% for usr in usuarios %}
<div>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ usr[1] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ usr[2] }}</td>
        </tr>
        <tr>
            <td>Creation Date:</td>
            <td>{{ usr[4] }}</td>
        </tr>
        <tr>
            <td>    
            
        </td>
        </tr>
    </table>
    <a href="/user"><i class="fas fa-user-edit"></i>Edit</a>
    <a href="/eliminar/{{usr[0]}}"><i class="fas fa-trash"></i>Delete</a>
</div>
{% endfor %}

{% endblock %}