{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile Page</h2>
{% for usr in usuarios %}
<div>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ usr[1] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ usr[2] }}</td>
        </tr>
        <tr>
            <td>Creation Date:</td>
            <td>{{ usr[4] }}</td>
        </tr>
        <tr>
            <td>    
            
        </td>
        </tr>
    </table>
    <a href="/user"><i class="fas fa-user-edit"></i>Edit</a>
    <a href="/eliminar/{{usr[0]}}"><i class="fas fa-trash"></i>Delete</a>
</div>
{% endfor %}

{% endblock %}